<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property name="SYSTEM_NAME" value="fairy" />
	<property name="DEF_FILE_COMPRESS_SUFFIX" value=".gz"/>

	<springProfile name="dev">
		<property name="SPRING_LOG_LEVEL" value="INFO" />
	</springProfile>

	<springProfile name="test">
		<property name="DEF_FILE_MAX_FILE_SIZE" value="200MB" />
		<property name="DEF_FILE_MAX_HISTORY" value="30" />
		<property name="DEF_FILE_TOTAL_SIZE_CAP" value="20GB" />
		<property name="SPRING_LOG_LEVEL" value="debug" />
	</springProfile>

	<springProfile name="beta">
		<property name="DEF_FILE_MAX_FILE_SIZE" value="200MB" />
		<property name="DEF_FILE_MAX_HISTORY" value="30" />
		<property name="DEF_FILE_TOTAL_SIZE_CAP" value="20GB" />
		<property name="SPRING_LOG_LEVEL" value="debug" />
	</springProfile>

	<springProfile name="prod">
		<property name="DEF_FILE_MAX_HISTORY" value="90" />
		<property name="DEF_FILE_TOTAL_SIZE_CAP" value="100GB" />
		<property name="FILE_MAIN_LOG_LEVEL" value="info" />
		<property name="SPRING_LOG_LEVEL" value="info" />
		<property name="FILE_DEBUG_MAX_HISTORY" value="30" />
		<property name="FILE_DEBUG_TOTAL_SIZE_CAP" value="20GB" />
	</springProfile>

	<include resource="logback/base.xml" />
	<include resource="logback/file-access-appender.xml" />
	<include resource="logback/file-debug-appender.xml" />
	<include resource="logback/file-databus-appender.xml" />
	<include resource="logback/file-message-appender.xml" />

	<contextName>${SYSTEM_NAME:-app}</contextName>

	<logger name="org.apache.kafka" level="info" />
	<logger name="org.apache.kafka.common.metrics.Metrics"  level="off"/>
	<logger name="org.apache.kafka.clients.FetchSessionHandler"  level="off"/>
	<logger name="org.apache.kafka.clients.consumer.internals.Fetcher"  level="off"/>
	<logger name="org.apache.kafka.clients.consumer.internals.AbstractCoordinator"  level="off"/>
	<logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator"  level="off"/>
	<logger name="org.apache.http.impl.conn" level="info" />
	<logger name="com.google.code.yanf4j" level="info" />
	<logger name="net.rubyeye" level="info" />
	<logger name="org.hibernate" level="info" />
	<logger name="com.zaxxer" level="info" />
	<logger name="org.apache.zookeeper.ClientCnxn" level="info" />
	<logger name="com.baijia" level="${log.baijia_level}" />
	<logger name="com.baijia.gaotu" level="${log.gaotu_level}" />
	<logger name="com.gaotu" level="${log.gaotu_level}" />
	<logger name="org.springframework.data.redis.core" level="${SPRING_LOG_LEVEL}" />
	<logger name="org.springframework" level="${SPRING_LOG_LEVEL}" />
	<logger name="com.baijia.databus" level="info" />
	<!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
		<!--<encoder>-->
			<!--<pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
			<!--<charset>UTF-8</charset>-->
		<!--</encoder>-->
	<!--</appender>-->
	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="test">
		<contextListener class="com.gaotu.app.config.TtlMdcListener"/>
		<logger name="com.baijia.databus" level="debug" additivity="false">
			<appender-ref ref="FILE_DATABUS" />
		</logger>
		<logger name="com.gaotu.messagecenter" level="info" additivity="false">
			<appender-ref ref="FILE_MESSAGE_CENTER" />
		</logger>
		<logger name="com.gaotu.app.filter" level="info" additivity="false">
			<appender-ref ref="FILE_ACCESS" />
		</logger>
		<root level="DEBUG">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE_MAIN" />
			<appender-ref ref="FILE_ERROR" />
			<appender-ref ref="FILE_DEBUG" />
		</root>
	</springProfile>

	<springProfile name="beta">
		<contextListener class="com.gaotu.app.config.TtlMdcListener"/>
		<logger name="com.baijia.databus" level="debug" additivity="false">
			<appender-ref ref="FILE_DATABUS" />
		</logger>
		<logger name="com.gaotu.messagecenter" level="info" additivity="false">
			<appender-ref ref="FILE_MESSAGE_CENTER" />
		</logger>
		<logger name="com.gaotu.app.filter" level="info" additivity="false">
			<appender-ref ref="FILE_ACCESS" />
		</logger>
		<root level="INFO">
			<appender-ref ref="FILE_MAIN" />
			<appender-ref ref="FILE_ERROR" />
			<appender-ref ref="FILE_DEBUG" />
		</root>
	</springProfile>
	<springProfile name="prod">
		<contextListener class="com.gaotu.app.config.TtlMdcListener"/>
		<logger name="com.baijia.databus" level="info" additivity="false">
			<appender-ref ref="FILE_DATABUS" />
		</logger>
		<logger name="com.gaotu.messagecenter" level="info" additivity="false">
			<appender-ref ref="FILE_MESSAGE_CENTER" />
		</logger>
		<logger name="com.gaotu.app.filter" level="info" additivity="false">
			<appender-ref ref="FILE_ACCESS" />
		</logger>
		<root level="INFO">
			<appender-ref ref="FILE_MAIN" />
			<appender-ref ref="FILE_ERROR" />
		</root>
	</springProfile>

</configuration>